html {
    box-sizing: border-box;
    height: 100%;
    background-color: #8D414D;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html>body {
    height: 100%;
}