.highlight0 {
    background-color: rgb(255, 231, 185);
}

.highlight1 {
    background-color: rgb(255, 218, 150);
}

.highlight2 {
    background-color: rgb(255, 206, 115);
}

.highlight3 {
    background-color: rgb(255, 195, 85);
}

.highlight4 {
    background-color: rgb(255, 183, 50);
}